.DS_Store
.atom/
.azure-functions-core-tools/
.config/
.dbtools/
.docker/
.eclipse/
.gradle/
.h2.server.properties
.idlerc/
.lemminx/
.lesshst
.m2/
.mysql_history
.mysqlsh/
.node_repl_history
.npm/
.oracle_jre_usage/
.p2/
.sbt/
.scala_history_jline3
.scalaide/
.ssh/
.subversion/
.tooling/
.viminfo
.vscode/
.zprofile
.zprofile.bak
.zprofile.pysave
.zsh_history
.zsh_sessions/
.zshrc
Applications/
Desktop/
Documents/
Downloads/
IdeaProjects/
Library/
Movies/
Music/
MyRepo/
Oracle/
Pictures/
Public/
PycharmProjects/
WebstormProjects/
git/
my-app/
scala-2.13.3/
workspace/